<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Escapers Lille</title>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/style.css"/>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav">
        <div href="#" class="nav__enseigne">
          <img src="/img/Logo png 500x500.png" alt="logo Escapers" />
          <h2>Escapers</h2>
        </div>
        <button class="nav__button"><a href="#">Reserver</a></button>
      </nav>

      <h1>Escapers, time to escape.</h1>