<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> <%= title %> </title>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/style.css"/>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav">
        <div href="#" class="nav__enseigne">
          <a href="/">
            <img src="/img/Logo png 500x500.png" alt="logo Escapers" />
            <h2>Escapers</h2>
          </a>
        </div>
        <button class="nav__button"><a href="https://escapers-lille.4escape.io/booking/">Reserver</a></button>
      </nav>
      <h1><%= name %></h1>
      </div>
      <p>
        <%= intro %> 
      </p>
    </header>
    <img class="fond-curvy" src="/img/wave.svg" alt="">
    