<%- include('partials/header') %>
      <p>
        Fouille, communication et résolution d'énigmes vous permettrons
        d'avancer dans un décors et une imersion total.<br />
        Vos équipe est votre force! Ou votre faiblesse... Venez relever le
        challenge et essayer de vous échapper en moins d'une heure !
      </p>
    </header>
    <main class="main">
      <div class="main__article">
        <a href="#"> RESERVER </a>
        <img src="/img/calendar-alt-regular2.png" alt="" />
        <p>
          accèdez au planning et reserver dès maintenant un crénaux dans la
          salle de votre choix
        </p>
      </div>
      <div class="main__article">
        <a href="#">NOS SALLES</a>
        <img src="/img/door-open2.png" alt="" />
        <p>
          Venez découvrir le pitch de nos différentes mission ainsi que leur
          difficulté
        </p>
      </div>
      <div class="main__article">
        <a href="#">EN SAVOIR PLUS</a>
        <img src="/img/info2.png" alt="" />
        <p>
          Première fois ? Des interrogations ? Information team building ? Autre
          ? C'est par ici
        </p>
      </div>
      <div class="main__article">
        <a href="#">FAQ</a>
        <img src="/img/question2.png" alt="" />
        <p>
          Question / réponse les plus récurrentes qui vous aiderons en dernier
          recours
        </p>
      </div>
    </main>
    
    <%- include('partials/footer') %>
